.intro{
  height:100vh;

  display:flex;
  justify-content:center;
  align-items:center;

  background:linear-gradient(
    135deg,
    #020617,
    #0b1120,
    #020617
  );

  color:white;
  font-family:'Segoe UI', sans-serif;
}

.intro-container{
  text-align:center;
  width:500px;
}

.logo{
  font-size:52px;
  font-weight:700;
}

.description{
  margin-top:20px;
  color:#9ca3af;
  font-size:18px;
  line-height:1.6;
}

.start-btn{
  margin-top:40px;

  padding:14px 40px;

  border:none;
  border-radius:10px;

  background:linear-gradient(
    90deg,
    #2563eb,
    #3b82f6
  );

  color:white;
  font-size:16px;

  cursor:pointer;

  transition:0.3s;
}

.start-btn:hover{
  transform:scale(1.05);
}