.chat-input-wrapper {
  width: 100%;
  max-width: 650px;
  display: flex;
  align-items: center;
  gap: 10px;

  background: #222222;
  border-radius: 40px;
  padding: 10px 14px;
  box-shadow: 0 2px 12px rgba(180,150,255,0.25);

  margin: auto;
  box-sizing: border-box;
}

/* textarea */
.chat-input-wrapper textarea {
  flex: 1;
  border: none;
  outline: none;
  resize: none;
  font-size: 15px;

  background: transparent;
  max-height: 140px;
  overflow-y: auto;
  width: 100%;

  color: #ffffff;
}

/* ======================= */
/* زر + */
/* ======================= */
.plus-btn {
  border: none;
  background: transparent;

  width: 34px;
  height: 34px;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  flex-shrink: 0;

  transition: 0.2s;
}

.plus-btn svg {
  color: black;
}

.plus-btn:hover {
  transform: scale(1.1);
  opacity: 0.7;
}

/* ======================= */
/* زر الإرسال */
/* ======================= */
.send-btn {
  width: 36px;
  height: 36px;

  border-radius: 50%;
  border: none;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  flex-shrink: 0;

  background: #e5e5e5;
  transition: all 0.25s ease;
}

/* عند الكتابة */
.send-btn.active {
  background: linear-gradient(135deg, #8b5cf6, #3b82f6);
  box-shadow: 0 0 10px rgba(99, 102, 241, 0.5);
}

/* hover */
.send-btn.active:hover {
  transform: scale(1.08);
}

/* السهم */
.send-btn svg {
  color: white;
}

/* disabled */
.send-btn:disabled {
  cursor: not-allowed;
}