.message{
  max-width:65%;
  padding:12px 16px;
  border-radius:14px;
  margin-bottom:12px;
  font-size:15px;
  line-height:1.5;
  color:rgb(255, 255, 255);
}

.message.user{
  background:#444654;
  align-self:flex-end;
}

.message.assistant{
  background:#343541;
  align-self:flex-start;
}