.bubble{
padding:12px 16px;
border-radius:12px;
max-width:90%;
margin:10px;
}

.user{
background: linear-gradient(135deg, #8a5cf6e8, #3b83f6);
color:white;
margin: left 5px;;
}

.ai{
background:#ffffff00;
color:rgb(255, 255, 255);
margin-right:auto;
}