.sidebar{
  width:260px;
  height:100vh;
  background:#171717;
  color:white;
  display:flex;
  flex-direction:column;
  padding:12px;
  border-right:1px solid #2a2a2a;
}

/* button menu */

.menu-button{
  padding:10px;
  cursor:pointer;
  color:white;
}

/* عناصر المنيو */

.sidebar-item{
  display:flex;
  align-items:center;
  gap:12px;

  padding:12px 14px;

  font-size:16px;   /* تكبير الخط */

  font-weight:500;

  color:white;

  border-radius:8px;

  cursor:pointer;

  transition:0.2s;
}

/* hover */

.sidebar-item:hover{
  background:#2a2a2a;
}

/* النص */

.item-text{
  color:white;
  font-size:16px;
  font-weight:600;
}
/* history */

.chat-history{
  margin-top:10px;
  display:flex;
  flex-direction:column;
  gap:4px;
}

/* كل محادثة */

.history-row{
  display:flex;
  align-items:center;
  justify-content:space-between;
}

.history-item{

  flex:1;

  padding:10px 12px;

  border-radius:8px;

  font-size:15px;  /* تكبير */

  font-weight:500;

  color:white;   /* أبيض واضح */

  cursor:pointer;

}

.history-item:hover{
  background:#2a2a2a;
}

.history-item:hover{
  background:#2a2a2a;
}

/* الثلاث نقاط */

.history-menu{
  position:relative;
  cursor:pointer;
}

/* dropdown */

.menu-dropdown{
  position:absolute;
  right:0;
  top:20px;
  background:#2a2a2a;
  border-radius:8px;
  padding:6px;
  width:120px;
  z-index:10;
}

.menu-dropdown div{
  padding:8px;
  cursor:pointer;
  border-radius:6px;
}

.menu-dropdown div:hover{
  background:#3a3a3a;
}

/* settings في الأسفل */

.settings-bottom{
  margin-top:auto;
}