body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background: #0b0b14;
}

/* الصفحة */
.wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* الكرت */
.card {
  width: 430px;
  padding: 30px;
  border-radius: 20px;

  background: rgba(255,255,255,0.05);
  backdrop-filter: blur(25px);

  border: 1px solid rgba(255,255,255,0.1);

  box-shadow:
    0 0 30px rgba(0,0,0,0.6),
    inset 0 0 20px rgba(255,255,255,0.02);

  color: white;
  text-align: center;
}

/* أيقونة */
.icon {
  width: 60px;
  height: 60px;
  margin: auto;
  margin-bottom: 10px;

  border-radius: 20px;

  display: flex;
  justify-content: center;
  align-items: center;

  background: linear-gradient(135deg,#6a5cff,#ff4ecd);
  font-size: 24px;
}

/* العنوان */
h1 {
  margin: 5px 0;
  font-size: 26px;
}

.sub {
  color: #aaa;
  font-size: 14px;
  margin-bottom: 20px;
}

/* labels */
.label {
  text-align: left;
  margin-top: 15px;
  margin-bottom: 8px;
  color: #ccc;
  font-size: 13px;
}

/* النجوم */
.stars {
  text-align: left;
}

.stars span {
  font-size: 24px;
  margin-right: 5px;
  color: #777;
  cursor: pointer;
}

/* الأزرار */
.types {
  display: flex;
  gap: 8px;
  margin-bottom: 15px;
}

.types button {
  flex: 1;
  padding: 8px;
  border-radius: 10px;
  border: none;

  background: #1c1c2b;
  color: #ddd;
  cursor: pointer;
}

.types .active {
  background: linear-gradient(90deg,#6a5cff,#ff4ecd);
  color: white;
}

/* inputs */
input, textarea {
  width: 100%;
  margin-top: 10px;
  padding: 12px;

  border-radius: 10px;
  border: 1px solid rgba(255,255,255,0.1);

  background: rgba(255,255,255,0.03);
  color: white;
}

/* زر */
.submit {
  margin-top: 15px;
  width: 100%;
  padding: 12px;

  border-radius: 12px;
  border: none;

  background: linear-gradient(90deg,#6a5cff,#ff4ecd);
  color: white;

  cursor: pointer;
  font-weight: bold;
}

/* الفوتر */
.footer {
  margin-top: 12px;
  font-size: 12px;
  color: #888;
}